.img-circle {
    border-radius: 50%;
}

.tweet-div { 
    margin: 10px auto;
    width: 600px;
    padding: 10px 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.tweet-likes {
    margin-left: 5px;
    display: inline-block;
}